# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3

# Virtual Environments
venv/
.venv/

# Environment variables
.env
.env.*

# Node.js
node_modules/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db